---
layout: archive
---
<html>

<head>
    <script src="https://www.google.com/recaptcha/api.js?render=6LcDxbweAAAAANQ6YKAM33gpCCIIjHk1sLKDgBhG"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LcDxbweAAAAANQ6YKAM33gpCCIIjHk1sLKDgBhG', { action: 'submit' }).then(function (token) {
                console.info("got token: " + token);
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>
</head>

<body>
    <!-- modify this form HTML and place wherever you want your form -->
    <form action="https://formspree.io/f/xnqwvoob" method="POST">
        <label>
            Your email:
            <input type="email" name="email">
        </label>
        <label>
            Your message:
            <textarea name="message"></textarea>
        </label>
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
        <input type="submit" class="btn btn-primary" value="submit" />
    </form>
</body>

</html>